<ng-template #alexaskillcreator>
  <alexa-skill-creator (close)="close()" (create)="create($event)">

  </alexa-skill-creator>
</ng-template>

<div class="container mt-3" *ngIf="interactions.length">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <div *ngFor="let interaction of interactions">
          Interaction
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <button class="btn btn-sm btn-primary" (click)="addNewSkill(alexaskillcreator)">Add New Interaction</button>
      </div>
    </div>
  </div>
</div>
